* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.6;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#627d4d+0,1f3b08+100;Olive+3D */
background: #627d4d; /* Old browsers */
background: -moz-linear-gradient(top,  #627d4d 0%, #1f3b08 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #627d4d 0%,#1f3b08 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */
 
  
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h2 {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}

.container {
  height: 600px;
  padding: 60px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container .signin-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin-right: 50px;
  position: relative;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
}

.container .signin-container h2 {
  margin: 20px 0 0;
}

.container .signin-container .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #999;
  border: 2px solid #fff;
  padding: 8px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.container .signin-container .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .signin-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container div form label {
  width: 100%;
  height: 50px;
  background: red;
  margin-bottom: 8px;
}

.container div form label input {
  width: 100%;
  height: 50px;
  border: none;
  padding: 0 8px;
}

.container .signin-container button,
.container .signup-container button {
  width: 170px;
  height: 45px;
  border-radius: 12px;
  border: none;
  background: orange;
  color: #fff;
}

.container .signin-container a {
  width: 100%;
  text-align: center;
  color: blue;
}

.container .signup-container {
  width: 400px;
  height: 500px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 50px;
}

.container .signup-container form {
  width: 100%;
  display: flex;
  flex-direction: column;

}