* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background: #eee;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

button {
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
}

button:hover {
  filter: brightness(0.93);
  color: #fff;
}

h1 {
  clear: both;
}