body, html{
  font-family: 'montserrat', sans-serif;
  background: #1e272e;
  -webkit-font-smoothing: antialiased;
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  text-align: center;
  border-radius: 12px;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.5em;
}

.box input[type = "text"], .box input[type = "password"], .box input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 1em;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
  width: 280px;
  border-color: #575fcf;
}

.box input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1em;
}
.box input[type = "submit"]:hover {
  background: #575fcf;
}
.box input[type = "submit"]::before {
  content: "";
  background: #000; 
  margin-top: -20px;
}