:root {
  --color-primary: #333;
  --bg-color-primary: #eee;
  --bg-color-secondary: #777;
  --color-secundary: #222;
  --color-text-secundary: #fff;

  /* input */
  --btn-color-text-account:  rgba(255, 166, 0, 1);
  --btn-color-border-input:  rgba(255, 166, 0, 0.5);
  --btn-color-background-input:  rgba(235, 199, 132, 0.1);


  --btn-color-background:  #4c054e;
  --btn-color-text:#fff;
  --field-color-backgound: #fff;
  --field-color-text: #333;
  --field-color-border: #fff;
}
